@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    width: 100vw;
    background-image: url(../header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;

}

#headerArticle {
    color: white;
    width: 50%;
    text-align: center;
}

#headerArticle h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 3rem;
    color: white;
    width: 50%;
    margin: 0 auto;
}

.botoes a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 500;
    transition: .2s;
}
.botoes a:hover{
    transform: scale(1.1);
}

#navegador {
    background-color: #23272A;
    color: white;
}


/* Corpo */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 80vw;
    margin: 10px auto;
    padding: 20px;
    gap: 30px;
}

main img {
    width: 100%;
    height: auto;
}

main figure {
    padding: 0px;
    margin: 0px;
    width: 38vw;
    text-align: center;
}

#article01,
#article02,
#article03 {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

#article02 {
    flex-direction: row-reverse;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 21vw;
}

.texto h2 {
    font-weight: 800;
    font-size: 2.5rem;
}

#article04 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-self: center;
}

#article04 .texto {
    width: 55vw;
    text-align: center !important;
    align-items: center;

}

#article04 .texto h2 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}

/* Rodapé */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12vh;
    background-color: #23272A;
    color: white;
}

@media (max-width: 1300px) {

   

    #headerArticle h1 {
        font-size: 1.8rem;
    }

    #headerArticle {
        width: 90%;
    }


    main {
        width: 95vw;
    }

    main figure {
        width: 100%;
    }

    .texto {
        width: 100%;
    }

}

@media (max-width:900px) {

    header {
        height: fit-content;
        width: fit-content;
    }

    .botoes {
        margin: 20px auto;

    }

    .botoes a {
        width: 70vw;
        min-width: 200px;
        margin: 10px auto;
        padding: 18px;
    }

    main {
        width: 85vw;
        margin: 0;
        padding: 0;
    }

    #headerArticle h1,
    p {
        padding-left: 50px;
        margin: 0;
        align-items: start;
        text-align: start;
    }

    #headerArticle h1 {
        font-size: 3rem;
        text-align: start;
    }

    #headerArticle p {
        text-align: start;
    }

    #article01,
    #article02,
    #article03 {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        justify-content: center;
        padding: 20px;
    }

    #article01 h2,
    #article02 h2,
    #article03 h2 {
        font-size: 1.8rem;
        align-self: start;
    }

    #article01 p,
    #article02 p,
    #article03 p,
    #article04 p {
        font-size: 1.2rem;
        text-align: start;
    }

    #article04 {
        margin-top: 20px;
    }
}